
<div class="mt-5 d-flex align-center justify-content-center w-100">
    <form [formArray]="todoList">
      <h1 class="h3 mb-3 fw-normal">TODO List</h1>
      <div class="d-flex flex-row justify-content-between" *ngFor="let todo of todoList">
        <div class="checkbox mb-3 ">
          <label>
            <input [formControleName]= "'_finished'" name="finished" type="checkbox" value="Finished">Finished
          </label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="something-to-do" placeholder="something to do">
          <label for="something-to-do">something to do</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" id="something-at" placeholder="01/01/2021">
          <label for="something-at">Date to do</label>
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Add TODO</button>
    </form>
</div>

